.u-section-1 .u-sheet-1 {
  min-height: 525px;
}

.u-section-1 .u-text-1 {
  font-family: Purista-SemiBold;
  width: 737px;
  margin: 96px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 549px;
    margin-top: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 430px;
    margin-top: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 254px;
    margin-top: 39px;
  }
}@font-face {
  font-family: 'Purista-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/Purista-SemiBold.ttf);
}