.u-section-1 .u-sheet-1 {
  min-height: 721px;
}

.u-section-1 .u-group-1 {
  width: 746px;
  min-height: 719px;
  margin: 2px auto 0 11px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 28px;
}

.u-section-1 .u-form-1 {
  height: 725px;
  width: 682px;
  margin: 21px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-input-1 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-input-2 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-input-3 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-input-4 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-input-5 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-input-6 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-form-group-7 {
  margin-left: undefined;
  margin-right: auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-family: Purista-SemiBold;
}

.u-section-1 .u-form-2 {
  height: 71px;
  margin: -71px 261px 0 239px;
}

.u-section-1 .u-form-group-8 {
  margin-left: undefined;
  margin-right: auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-family: Purista-SemiBold;
  width: 100%;
}

.u-block-6448-125 {
  margin-left: 0;
  margin-right: undefined;
}

.u-block-6448-126 {
  font-family: Purista-SemiBold;
}

.u-block-6448-127 {
  width: 100%;
  font-family: Purista-SemiBold;
}

.u-section-1 .u-group-2 {
  width: 341px;
  min-height: 721px;
  height: auto;
  margin: -721px 21px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: Purista-SemiBold;
  margin: 12px 23px 0;
}

.u-section-1 .u-form-3 {
  height: 71px;
  width: 313px;
  margin: 63px auto 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: undefined;
  margin-right: auto;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-family: Purista-SemiBold;
  width: 100%;
}

.u-block-6448-98 {
  margin-left: 0;
}

.u-block-6448-99 {
  font-family: Purista-SemiBold;
}

.u-block-6448-100 {
  width: 100%;
  font-family: Purista-SemiBold;
}

.u-section-1 .u-form-4 {
  height: 71px;
  width: 313px;
  margin: -134px auto 0;
}

.u-section-1 .u-form-group-10 {
  margin-left: undefined;
  margin-right: auto;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  font-family: Purista-SemiBold;
  width: 100%;
}

.u-block-6448-104 {
  margin-left: 0;
}

.u-block-6448-105 {
  font-family: Purista-SemiBold;
}

.u-block-6448-106 {
  width: 100%;
  font-family: Purista-SemiBold;
}

.u-section-1 .u-form-5 {
  height: 71px;
  width: 313px;
  margin: 56px auto 0;
}

.u-section-1 .u-form-group-11 {
  margin-left: undefined;
  margin-right: auto;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: solid;
  font-family: Purista-SemiBold;
  width: 100%;
}

.u-block-6448-110 {
  margin-left: 0;
}

.u-block-6448-111 {
  font-family: Purista-SemiBold;
}

.u-block-6448-112 {
  width: 100%;
  font-family: Purista-SemiBold;
}

.u-section-1 .u-form-6 {
  height: 71px;
  width: 313px;
  margin: -9px auto 0;
}

.u-section-1 .u-form-group-12 {
  margin-left: undefined;
  margin-right: auto;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: solid;
  font-family: Purista-SemiBold;
  width: 100%;
}

.u-block-6448-54 {
  margin-left: 0;
}

.u-block-6448-55 {
  font-family: Purista-SemiBold;
}

.u-block-6448-56 {
  width: 100%;
  font-family: Purista-SemiBold;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 724px;
  }

  .u-section-1 .u-group-1 {
    width: 564px;
    min-height: 699px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-form-1 {
    height: 666px;
    width: 537px;
    margin-top: 0;
  }

  .u-section-1 .u-form-2 {
    margin-right: 112px;
    margin-left: 223px;
  }

  .u-section-1 .u-group-2 {
    min-height: 699px;
    margin-top: -701px;
    margin-right: 11px;
    margin-bottom: 25px;
    height: auto;
  }

  .u-block-6448-54 {
    margin-right: undefined;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-group-1 {
    width: 698px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-form-1 {
    width: 648px;
  }

  .u-section-1 .u-form-2 {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-2 {
    width: 698px;
    min-height: 266px;
    margin-top: 12px;
    margin-right: auto;
    margin-bottom: 32px;
  }

  .u-section-1 .u-form-3 {
    margin-top: 11px;
    margin-right: 11px;
    margin-left: 342px;
    width: auto;
  }

  .u-section-1 .u-form-4 {
    margin-top: -71px;
    margin-right: 342px;
    margin-left: 11px;
    width: auto;
  }

  .u-section-1 .u-form-5 {
    margin-top: -15px;
    margin-right: 342px;
    margin-left: 11px;
    width: auto;
  }

  .u-section-1 .u-form-6 {
    margin-top: -71px;
    margin-right: 11px;
    margin-left: 342px;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1133px;
  }

  .u-section-1 .u-group-1 {
    min-height: 722px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .u-section-1 .u-form-1 {
    width: 537px;
  }

  .u-section-1 .u-form-2 {
    margin-right: 109px;
    margin-left: 207px;
  }

  .u-section-1 .u-group-2 {
    min-height: 399px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 8px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-form-3 {
    width: 536px;
    margin-top: 63px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-4 {
    width: 536px;
    margin-top: -127px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-5 {
    width: 536px;
    margin-top: 97px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-6 {
    width: 536px;
    margin-top: -127px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1340px;
  }

  .u-section-1 .u-group-1 {
    min-height: 831px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-form-1 {
    height: 770px;
    width: 322px;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
  }

  .u-section-1 .u-form-2 {
    width: 322px;
    margin-top: -17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 487px;
    margin-top: 7px;
    margin-bottom: 15px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 7px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-form-3 {
    margin-top: 56px;
    margin-right: -4px;
    width: 340px;
  }

  .u-section-1 .u-form-4 {
    margin-right: -4px;
    width: 340px;
  }

  .u-section-1 .u-form-5 {
    margin-right: -4px;
    width: 340px;
  }

  .u-section-1 .u-form-6 {
    margin-right: -4px;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 126px;
}

.u-section-2 .u-text-1 {
  font-family: Purista-SemiBold;
  font-size: 1.25rem;
  margin: 30px auto 0 40px;
}

.u-section-2 .u-table-1 {
  width: 1061px;
  margin: 18px auto 0;
}

.u-block-a188-10 {
  height: 47px;
}

.u-section-2 .u-table-body-1 {
  font-family: Purista-SemiBold;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-1 {
  font-family: Purista-SemiBold;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-2 {
  font-family: Purista-SemiBold;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-3 {
  font-family: Purista-SemiBold;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-4 {
  font-family: Purista-SemiBold;
  font-size: 0.875rem;
}

.u-block-a188-37 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
  }

  .u-section-2 .u-table-1 {
    width: 940px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-2 .u-table-1 {
    width: 720px;
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 179px;
}

.u-section-3 .u-text-1 {
  font-family: Purista-SemiBold;
  font-size: 1.25rem;
  margin: 30px auto 0 40px;
}

.u-section-3 .u-table-1 {
  width: 1061px;
  margin: 21px auto 50px;
}

.u-block-31c2-50 {
  height: 47px;
}

.u-section-3 .u-table-body-1 {
  font-family: Purista-SemiBold;
  font-size: 0.875rem;
}

.u-section-3 .u-table-cell-1 {
  font-family: Purista-SemiBold;
  font-size: 0.875rem;
}

.u-section-3 .u-table-cell-2 {
  font-family: Purista-SemiBold;
  font-size: 0.875rem;
}

.u-section-3 .u-table-cell-3 {
  font-family: Purista-SemiBold;
  font-size: 0.875rem;
}

.u-section-3 .u-table-cell-4 {
  font-family: Purista-SemiBold;
  font-size: 0.875rem;
}

.u-block-31c2-61 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -107px;
    margin-left: 0;
  }

  .u-section-3 .u-table-1 {
    margin-top: 10px;
    margin-bottom: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 12px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -76px;
  }

  .u-section-3 .u-table-1 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 125px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 8px;
  }
}@font-face {
  font-family: 'Purista-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/Purista-SemiBold.ttf);
}