.u-section-1 .u-sheet-1 {
  min-height: 370px;
}

.u-section-1 .u-group-1 {
  width: 527px;
  min-height: 326px;
  height: auto;
  margin: 0 auto 0 22px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 279px;
  width: 428px;
  margin: 14px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-input-1 {
  width: 100%;
  font-family: Purista-SemiBold;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-input-2 {
  width: 100%;
  font-family: Purista-SemiBold;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-family: Purista-SemiBold;
}

.u-section-1 .u-group-2 {
  width: 548px;
  min-height: 326px;
  height: auto;
  margin: -324px auto 42px 571px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-form-2 {
  height: 279px;
  width: 428px;
  margin: 14px auto 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-input-3 {
  width: 100%;
  font-family: Purista-SemiBold;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-family: Purista-SemiBold;
}

.u-section-1 .u-input-4 {
  width: 100%;
  font-family: Purista-SemiBold;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-family: Purista-SemiBold;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-1 .u-group-1 {
    width: 442px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-form-1 {
    width: 384px;
  }

  .u-section-1 .u-group-2 {
    width: 446px;
    height: auto;
    margin: -326px 27px 60px auto;
  }

  .u-section-1 .u-form-2 {
    width: 423px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-form-1 {
    width: 676px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-form-2 {
    width: 676px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-form-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-form-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 270px;
}

.u-section-2 .u-table-1 {
  width: 1075px;
  margin: 0 auto 44px;
}

.u-block-d77f-121 {
  height: 47px;
}

.u-section-2 .u-table-body-1 {
  font-family: Purista-SemiBold;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-1 {
  font-family: Purista-SemiBold;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-2 {
  font-family: logo;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-3 {
  font-family: Purista-SemiBold;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-4 {
  font-family: Purista-SemiBold;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-5 {
  font-family: Purista-SemiBold;
  font-size: 0.875rem;
}

.u-section-2 .u-table-cell-6 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-7 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-8 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-9 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-10 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-11 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-12 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-13 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-14 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-15 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-16 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-17 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-18 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-19 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-20 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-21 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-22 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-23 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-24 {
  font-family: Purista-SemiBold;
}

.u-section-2 .u-table-cell-25 {
  font-family: Purista-SemiBold;
}

.u-block-d77f-148 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 28px;
  }

  .u-section-2 .u-table-1 {
    width: 904px;
    margin-top: -322px;
    margin-bottom: 40px;
    margin-left: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-2 .u-table-1 {
    margin-top: 40px;
    margin-bottom: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}@font-face {
  font-family: 'Purista-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/Purista-SemiBold.ttf);
}@font-face {
  font-family: 'logo';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/logo.otf);
}