<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
      <meta name="keywords" content="">
      <meta name="description" content="">
      <title>MEDCOM</title>
      <link rel="stylesheet" href="/static/css/nicepage.css" media="screen">
      <link rel="stylesheet" href="/static/css/index.css" media="screen">
      <script class="u-script" type="text/javascript" src="/static/js/jquery.js"></script>
      <script class="u-script" type="text/javascript" src="/static/js/nicepage.js"></script>
      <link rel="icon" href="/static/images/favicon.ico">
      <meta name="theme-color" content="#478ac9">
      <meta property="og:title" content="MEDCOM">
      <meta property="og:description" content="">
      <meta property="og:type" content="website">
   </head>
   <body data-home-page="index.html" data-home-page-title="index" class="u-black u-body u-xl-mode" data-lang="en">
      <header class="u-black u-clearfix u-header u-header" id="sec-d671">
         <div class="u-clearfix u-sheet u-sheet-1">
            <p class="u-align-left u-custom-font u-text u-text-body-alt-color u-text-1">
               <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1" href="{{url_for('home')}}" data-page-id="89717531">MEDCOM</a>
            </p>
            {% include 'navbar.html' %}
         </div>
      </header>
      <section class="u-black u-clearfix u-section-1" id="sec-b13b">
         <div class="u-align-left u-clearfix u-sheet u-sheet-1">
            <div class="black border border-collapse border-radius px separate solid table u-align-center u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-table u-table-responsive u-table-1">
               <table class="u-table-entity">
                  <colgroup>
                     <col width="22%">
                     <col width="12%">
                     <col width="3%">
                     <col width="45%">
                     <col width="23%">
                  </colgroup>
                  <tbody class="u-table-alt-custom-color-2 u-table-body">
                     {% for event in events %}
                     <tr style="height: 47px;">
                        <td class="u-align-center u-custom-font u-table-cell u-table-cell-1">{{event['event_date']|cctime}}</td>
                        <td class="u-align-center u-custom-font u-table-cell u-table-valign-middle u-table-cell-2"><a href ="{{url_for('community', community_id=event['event_community'])}}">{{event['community']|cname}}</a></td>
                             
                        
                        {% if event['event_status'] == "on" %}
                        <td class="u-align-center u-custom-font u-table-cell u-table-valign-middle u-table-cell-3"><span class="u-file-icon u-icon u-text-white"><img src="/static/images/483408.png" alt=""></span></td>
                        {% elif event['event_participants'] != 0 %}
                        <td class="u-align-center u-custom-font u-table-cell u-table-valign-middle u-table-cell-3"><span class="u-file-icon u-icon u-text-white">{{event['subscribers']|length}} / {{event['event_participants']}}</span></td>
                        {% elif event['event_participants'] == 0 %}
                        <td class="u-align-center u-custom-font u-table-cell u-table-valign-middle u-table-cell-3"><span class="u-file-icon u-icon u-text-white">{{event['subscribers']|length}} / ∞</span></td>
                        {% endif %}
                        
                        <td class="u-custom-font u-table-cell u-table-cell-4"><a href="{{url_for('event', event_id = event['_id'])}}">{{event['event_name']}}</a></td>
                        
                        
                        {% if event['event_status'] == "on" %}
                        <td class="u-custom-font u-table-cell u-text-grey-10 u-table-cell-5"> Community Brief</td>
                        {% elif event['event_participants'] != 0 and event['event_participants'] <= event['subscribers']|length %}
                        <td class="u-custom-font u-table-cell u-text-custom-color-4 u-table-cell-5">No Place Left</td>
                        {% else %}
                        <td class="u-custom-font u-table-cell u-text-custom-color-3 u-table-cell-5">Register / ​Reserve</td>
                        {% endif %}
                          
                        
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </section>
      <section class="u-black u-clearfix u-section-2" id="sec-1cd1">
         <div class="u-align-left u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
            <div class="u-align-left u-border-2 u-border-grey-50 u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-radius-11 u-shape-round u-group-1">
               <div class="u-container-layout u-container-layout-1">
                  <p class="u-align-left u-custom-font u-text u-text-grey-10 u-text-1"> Community Brief</p>
                  <p class="u-align-left u-custom-font u-text u-text-2"> This is how the event status looks when the communities add the events they organize within themselves to the system for inform other communities.</p>
                  <p class="u-align-left u-custom-font u-text u-text-custom-color-3 u-text-3"> Register / ​Reserve</p>
                  <p class="u-align-left u-custom-font u-text u-text-4"> These events are open for registration, you can go to the page of the event by clicking the register/reserve button and register.</p>
                  <p class="u-align-left u-custom-font u-text u-text-custom-color-4 u-text-5"> No Place Left</p>
                  <p class="u-align-left u-custom-font u-text u-text-6"> When the number of participants in the registeration capacity is reached in the events, the event status change like this.</p>
               </div>
            </div>
         </div>
      </section>
      <footer class="u-align-center u-black u-clearfix u-footer u-footer" id="sec-7d01">
         <div class="u-align-left u-clearfix u-sheet u-sheet-1"></div>
      </footer>
   </body>
</html>